body{
    margin: 0px;
    padding: 0px;
    background: #1B1821;
}

.header{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 15px;
    /* text-align: center; */
    font-size: 150px;
    color: #E4D4C8;
}

.navbar{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.navcl1{
    display: flex;
    justify-content: space-around;
    justify-self: flex-start;
    align-content: space-between;
    align-items: space-between;
    width: 25%;
}
.navcl2{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    font-size: 50px;
    color: #E4D4C8;
    width: 50%;
}
.navcl3{
    display: flex;
    justify-content: space-around;
    justify-self: flex-start;
    align-content: space-between;
    align-items: space-between;
    width: 25%;
}


.navitem{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    font-size: 30px;
    color: #E4D4C8;
}

@media (width < 1000px){
    .navbar,.navcl1{
        flex-direction: column;
    }
}