body {
    margin: 0px;
    padding: 0px;
    background: transparent;
}

.parallax {
    /* The image used */
    background-image: url("bg.png");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.header {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 150px;
    color: #E4D4C8;
}

.subhead {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 75px;
    color: #E4D4C8;
}

.navbar {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.navcl1 {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    justify-self: flex-start;
    align-content: space-between;
    align-items: space-between;
    width: 25%;
}

.navcl2 {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    font-size: 50px;
    color: #E4D4C8;
    width: 50%;
}

.navcl3 {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    justify-self: flex-start;
    align-content: space-between;
    align-items: space-between;
    width: 25%;
}


.navitem {
    background-color: transparent;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    font-size: 30px;
    color: #E4D4C8;
    transition: all 500ms;
    border-radius: 10px;
}

.navitem:hover {
    background-color: #E4D4C8;
    color: black;

}

@media (width < 1000px) {

    .navbar,
    .navcl1 {
        flex-direction: column;
    }
}

.specials {
    background-color: #e4d4c8;

}

.cards-container {
    display: flex;
    width: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

.card>img {
    display: flex;
    height: fit-content;
    width: 90%;
    margin: 5%;
}

.cardinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardheader {
    display: flex;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    margin: 0% 5%;
}

.cardtext {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 15px;
    margin: 1% 5% 5%;
}

@media (width < 1000px) {
    .cards-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
}

@media (width < 550px) {
    .cards-container {
        width: 90%;
    }
}

.scroll-container {
    display: flex;
    width: 80%;
    height: 350px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    justify-content: start;
    justify-items: center;
    align-content: center;
    align-items: center;
    overflow-x: scroll;
    padding: 5px;
    z-index: 1px;
}


/* Hide ScrollBar */

.scroll-container::-webkit-scrollbar {
    display: none;
}

.scrollele {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0% 1%;
    transition: all 300ms;
}


.scroll-container>img {
    display: flex;
    height: fit-content;
    width: 40%;
}

.scrollele>img {
    border-radius: 10px;
}

.scrolltitle {
    display: flex;
    font-size: 25px;
    height: 100%;
    width: auto;
    color: #E4D4C8;
    font-weight: bold;
    font-style: italic;
    margin: 0% 5%;
}

.scroll-container>.scrollele:hover {
    margin: 25px;
    transform: scale(1.25);
}


.footer {
    display: flex;
    width: 100%;
    height: 250px;
}